    @font-face {
      font-family: SunmanPUA;
      src: url("style/iconfont/Sun-ExtA.ttf") format("opentype"),
      url('style/iconfont/Sun-ExtB.ttf') format("opentype"),
      url('style/iconfont/SunmanPUA.ttf') format("opentype");
    }
    input{
      font-family: SunmanPUA;
    }
    body{
      font-family: SunmanPUA;
    }
